
/* -------INTRO------- */

#intro {
  background-color: #eee;
  text-align: center;
  padding-top: 50px;
}

#intro .container {
  padding: 40px 15px;
}

/* -------ABOUT------- */

#about {
  background-color: white;
}

#about .row li {
  width: 33.3%;
  float: left;
}

/* -------PROJECTS------- */

#projects {
  padding: 20px 15px;
  background-color: #FBFBF1;
}

/* -------RESUME------- */

#resume {
  padding: 20px 15px;
  background-color: #F0F8FF;
}
